/** PipCountTrainer.css ------------------------------------- */
/* document outline ----------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
html{
  height:100%;
  overflow:auto;
  overscroll-behavior:none; /* バウンススクロールを抑止(only for Android and iOS>=16) */
  height:-webkit-fill-available; /* iOSで100%表示されない事態を回避 */
}
body{
  margin:10px;
  padding:0;
  background-color:var(--body-bg-color);
  -webkit-text-size-adjust:100%; /* iPhoneで文字サイズが勝手に大きくならないように */
  text-size-adjust:100%;
  font-size:100%;
  font-family:sans-serif, arial;
}

/* Contents Layout outline ---------------------------------------- */
.container{
  display:flex;
  flex-direction:row; /* ボードとテンキーは横並びにする。折り返さない(nowrap) */
  flex-wrap:nowrap;
  align-items:center;
  justify-content:space-around;
}
.boardinfo{
  display:flex;
  flex-direction:column; /* ボードとインフォは縦並び */
  align-items:center;
  justify-content:space-around;
}
.info{
  display:grid; /* インフォはgridでレイアウト(flexだと横が揃わない) */
  grid-template-columns:repeat(3, auto); /* 3x4でautoで配置 */
  grid-template-rows:repeat(4, auto);
  justify-items:center;
  align-items:center;
  width:100%; /* ボードの幅に合わせて左右に伸長 */
}
.tenkeytable{
}

/* Application Decoration ----------------------------------------- */
button{
  cursor:pointer;
  display:block;
  min-width:8vw;
  font-size:x-large;
  background-color:var(--btn-enable);
  border:2px solid var(--btn-frame-enable);
  border-radius:10px; /* 角丸表示 */
  vertical-align:middle;
  text-align:center;
  padding:10px 10px;
}
.btn-sm{
  padding:0;
  min-width:4vw;
  font-size:medium;
}
.pipdisp{
  max-width:20vw;
  min-width:12vw;
}
.selected{
  background-color:var(--btn-selected);
  border:5px solid var(--btn-frame-selected);
}
.hidetimer{
  color:var(--body-bg-color); /* 背景色と同じにして見えなくする */
}
.red{
  color:var(--red);
}
.green{
  color:var(--green);
}
.boardZZZ{ /* モック用 */
  width:var(--board-width);
  height:var(--board-height);
  background:#384;
  /*margin-bottom:30px;*/
}

/* スマホが縦向き(portrait)の時の設定 ------------------------------- */
@media (orientation: portrait){
.container{
  flex-direction:column; /* 縦向きの時はボードとテンキーは縦並びにする */
}
button{
  padding:3px 20px; /* 縦向きの時は横長いボタンにする */
}
}

/* Board size definision for bgStaticBoard.css ---------------------- */
:root{
  --boardWidthNum:90; /* < 100 and 15*n */
  --boardHeightNum:68; /* = boardWidthNum * 3/4 */
  --pointWidthNum:6; /* = boardWidthNum / 15 */
  --cubeSizeNum:5.4; /* = pointWidthum * 0.9 */
  --frameSizeNum:1.3;
  --offtrayMarginNum:5;
  --offtrayHeightNum:68; /* = boardHeightNum */
  --cubeFontSizeNum:4;
  --labelFontSizeNum:1.5;
  --stackFontSizeNum:3;

  --board-width:calc(var(--boardWidthNum) * 1vmin);
  --board-height-max:calc(var(--boardHeightNum) * 1vmin);
  --board-height:calc(var(--boardHeightNum) * 1vmin);
  --point-height:calc(var(--boardHeightNum) * 1vmin / 2.3);
  --point-width:calc(var(--pointWidthNum) * 1vmin);
  --board-frame-size:calc(var(--frameSizeNum) * 1vmin);
  --offtray-margin:calc(var(--offtrayMarginNum) * 1px);
  --offtray-height:calc(var(--offtrayHeightNum) * 1vmin);
  --cube-size:calc(var(--cubeSizeNum) * 1vmin);
  --cube-font-size:calc(var(--cubeFontSizeNum) * 1vmin);
  --label-font-size:calc(var(--labelFontSizeNum) * 1vmin);
  --stack-font-size:calc(var(--stackFontSizeNum) * 1vmin);
}

/* Theme Color Definition ------------------------------------- */
:root{
  --body-bg-color:       #efe;
  --btn-enable:          #adf;
  --btn-frame-enable:    #29f;
  --btn-selected:        #fff;
  --btn-frame-selected:  #f0f;
  --green:               #0f0;
  --red:                 #f00;
}
